{{!< layout}}
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
        <div class="aui-tabs horizontal-tabs">
            <ul class="tabs-menu">
                <li class="menu-item active-tab">
                    <a href="#configuration">Points Configuration</a>
                </li>
                <li class="menu-item">
                    <a href="#Medals">Medals</a>
                </li>
                <li class="menu-item">
                    <a href="#Badges">Badges</a>
                </li>
            </ul>
            <div class="tabs-pane active-pane" id="configuration">
                <br />
                <form class="aui" action="spunky-config-submit">
                    <input type="hidden" name="jwt" value="{{token}}">
                    {{#each pointsdata}}
                        <div class="field-group">
                            <label for="text-input">{{this.text}}</label>
                            <input class="text short-field " type="text" id="{{this.action}}" name="{{this.action}}" title="{{this.text}} point" value="{{this.point}}">
                            <input class="checkbox" type="checkbox" name="active-create-a-page" id="active-create-a-page">
                        </div>
                    {{/each}}
                    <br />
                    <div class="buttons-container">
                        <div class="buttons">
                            <button class="aui-button aui-button-primary">Save</button>
                            <a class="cancel" href="#">Reset to Default</a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tabs-pane" id="Medals">
                <span class="aui-avatar aui-avatar-xlarge">
                    <span class="aui-avatar-inner">
                        <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-16.png">
                     </span>
                </span>
            </div>

            <div class="tabs-pane" id="Badges">
                <h2>This is tab 3 for Badges</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
  </div>

